# ==========================================
# Django
# ==========================================

DJANGO_DEBUG=True

DJANGO_SECRET_KEY=change-me-in-production

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# ==========================================
# Sécurité HTTPS - production uniquement
# ==========================================

DJANGO_SECURE_HSTS_SECONDS=3600